{% extends "../../partials/layout.njk" %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Adjustments</h1>
            </div>
            <div class="govuk-grid-column-one-half">
                <form class="form" method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

                    {{ govukSelect({
                        id: "type",
                        name: "type",
                        label: {
                            text: "AdjustmentType"
                        },
                        items: model.adjustmentTypes,
                        value: model.adjustment.type
                        }) 
                    }}
                    {{ govukDateInput({
                        id: "from",
                        namePrefix: "from",
                        items: model.adjustment.fromItems(),
                        fieldset: {
                            legend: {
                                text: "From"
                            }
                        }
                        })
                    }}
                    {{ govukDateInput({
                        id: "to",
                        namePrefix: "to",
                        items: model.adjustment.toItems(),
                        fieldset: {
                            legend: {
                                text: "To"
                            }
                        }
                        })
                    }}

                    {{ govukInput({
                        label: {
                            text: "Days"
                        },
                        id: "days",
                        name: "days",
                        value: model.adjustment.days
                        })
                    }}

                    {{ govukInput({
                        label: {
                            text: "Sentence sequence"
                        },
                        id: "sentence",
                        name: "sentence",
                        value: model.adjustment.sentence
                        })
                    }}

                    <button id="court-details-button" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                </form>
            </div>
        </div>
    {% endblock %}