{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                <span class="govuk-caption-xl">Adjustments</span>Check remand details for {{model.prisonerDetail.firstName | title}}
                {{model.prisonerDetail.lastName | title}}</h1>

            <p class="govuk-!-margin-bottom-8">Based on the court case information in NOMIS, the following remand has been counted as relevant remand.

                    The rules for applying remand time can be found in the <a href="#">policy framework</a>.</p>

            <article class="moj-ticket-panel govuk-!-margin-bottom-8" aria-label="Sub navigation 1">

                <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">

                    <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--m">Calculated remand days summary</caption>

                        <tbody class="govuk-table__body">
                            {% for remand in model.relevantRemand.sentenceRemand %}
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">From</th>
                                    <td class="govuk-table__cell">{{remand.from | date('DD MMMM YYYY') }}</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">To</th>
                                    <td class="govuk-table__cell">{{remand.to | date('DD MMMM YYYY') }}</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Days</th>
                                    <td class="govuk-table__cell">{{remand.days}}</td>
                                </tr>
                                <tr class="govuk-table__row {%if not loop.last %}table-thick-bottom-border{%endif%}">
                                    <th scope="row" class="govuk-table__header">Applies to</th>
                                    <td class="govuk-table__cell">{{remand.charge.offence.description}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>

            </article>
            <h2 class="govuk-heading-m">Details</h2>
            <table class="govuk-table govuk-!-margin-bottom-8">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Remand periods identified from court events</th>
                        <th class="govuk-table__header" scope="col">Days</th>
                        <th class="govuk-table__header" scope="col"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for remand in model.relevantRemand.chargeRemand %}

                        <tr class="govuk-table__row">
                            <!-- Dates -->
                            <td class="govuk-table__cell">
                                <span class="govuk-!-padding-top-3">
                                    <b>Court case number: {{remand.charge.courtCaseRef}}</b>
                                </span><br>
                                <span>Court: {{remand.charge.courtLocation}}</span><br>
                                <span>Case outcome: {{remand.charge.resultDescription}}</span><br>
                                <span class="govuk-hint">From {{remand.from | date('DD MMMM YYYY') }} - {{remand.to | date('DD MMMM YYYY') }}</span><br>
                                <ul class="govuk-list">
                                    <li>{{remand.charge.offence.description}}</li>
                                </ul>
                            </td>
                            <!-- Days -->
                            <td class="govuk-table__cell"><br>{{remand.days}}</td>
                        </tr>
                    {% endfor %}

                </tr>

            </tbody>
        </table>
        <div></div>

        <form class="form" method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
            <div>
                <button class="govuk-button" data-module="govuk-button" name="submit">Accept and save</button>
                <a href="/adjustments/{{model.prisonerDetail.offenderNo}}/list" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}