{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                <span class="govuk-caption-xl">Adjustments</span>Check remand details for {{model.prisonerDetail.firstName | title}}
                {{model.prisonerDetail.lastName | title}}</h1>

            <p class="govuk-!-margin-bottom-8">Based on the court case information in NOMIS, the following remand has been counted as relevant remand.

                    The rules for applying remand time can be found in the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1083190/sc-annex-a-operational-guidance.pdf#page=72">policy framework</a>.</p>

        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <article class="moj-ticket-panel govuk-!-margin-bottom-8" aria-label="Sub navigation 1">

                <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
                    <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--m">Remand identified</caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">From</th>
                                <th scope="col" class="govuk-table__header">To</th>
                                <th scope="col" class="govuk-table__header">Days</th>
                                <th scope="col" class="govuk-table__header">Offence</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            {% for remand in model.relevantRemand.sentenceRemand %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">{{remand.from | date('DD MMMM YYYY') }}</td>
                                    <td class="govuk-table__cell">{{remand.to | date('DD MMMM YYYY') }}</td>
                                    <td class="govuk-table__cell">{{remand.days}}</td>
                                    <td class="govuk-table__cell">{{remand.charge.offence.description}}<br/>
                                        {% if (remand.charge.offenceDate and remand.charge.offenceStartDate and remand.charge.offenceEndDate !== remand.charge.offenceDate) %}
                        committed from {{ remand.charge.offenceDate | date('DD MMMM YYYY') }} to {{ emand.charge.offenceEndDate | date('DD MMMM YYYY') }}
                                        {% elseif remand.charge.offenceDate %}
                        committed on {{ remand.charge.offenceDate | date('DD MMMM YYYY') }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </section>

            </article>

        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Details</h2>
            <table class="govuk-table govuk-!-margin-bottom-8">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Remand periods identified from court events</th>
                        <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for remand in model.relevantRemand.chargeRemand %}

                        <tr class="govuk-table__row">
                            <!-- Dates -->
                            <td class="govuk-table__cell column-width-seventy-percent">
                                <span class="govuk-!-padding-top-3">
                                    <b>Court case number: {{remand.charge.courtCaseRef}}</b>
                                </span><br>
                                <span>Court: {{remand.charge.courtLocation}}</span><br>
                                <span>Case outcome: {{remand.charge.resultDescription}}</span><br>
                                <span class="govuk-hint">From {{remand.from | date('DD MMMM YYYY') }} - {{remand.to | date('DD MMMM YYYY') }}</span><br>
                                <ul class="govuk-list">
                                    <li>{{remand.charge.offence.description}}<br>
                                        <span class="govuk-hint">
                                            {% if (remand.charge.offenceDate and remand.charge.offenceStartDate and remand.charge.offenceEndDate !== remand.charge.offenceDate) %}
                        Committed from {{ remand.charge.offenceDate | date('DD MMMM YYYY') }} to {{ emand.charge.offenceEndDate | date('DD MMMM YYYY') }}
                                            {% elseif remand.charge.offenceDate %}
                        Committed on {{ remand.charge.offenceDate | date('DD MMMM YYYY') }}
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </td>
                            <!-- Days -->
                            <td class="govuk-table__cell govuk-!-text-align-centre"><br>{{remand.days}}
                                {% if model.isNotRelevant(remand) %}
                                    <br>
                                    <span class="moj-badge moj-badge--bright-purple">not relevant</span>{% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                </tr>

            </tbody>
        </table>
        <form class="form" method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
            <div>
                <button class="govuk-button" data-module="govuk-button" name="submit">Accept and save</button>
                <a href="/adjustments/{{model.prisonerDetail.offenderNo}}/list" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Reject
                </a>
            </div>
        </form>
        <a href="/adjustments/{{model.prisonerDetail.offenderNo}}/list" class="govuk-link">Cancel and return to adjustments</a>
    </div>
</div>
{% endblock %}