
.adjustment-card-container {
  display: flex;
  flex-wrap: wrap;

.adjustment-card {
    box-sizing: border-box;
    flex-basis: 48%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    margin: 1%;
    border: 1px solid #b1b4b6;
  
    &_heading{
      display:block;
      background-color: #f3f2f1;
      padding:16px;
      color:black;
    }
    &_content {
      padding:16px;
    }
    .count {
      font-size: 3rem;
      font-weight: 800;
      padding-right:.4rem;
    }
  }
}
  
.custom-card {
  border: 1px solid #bfc1c3;
  padding: 20px 20px 0px 20px;
  margin: 30px 0;
  background-color: #f3f2f1;
}

.custom-card-main:after {
  content: "";
  display: block;
  clear: both;
}