{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="start">
        <h1 class="govuk-heading-xl">Manage a digital warrant folder</h1>
        <p class="govuk-body">This service is a work in progress and the following are a list of proof of concepts.</p>

        <h2 class="govuk-heading-m">Relevant remand</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="remand-prisoner">Enter an offender number</label>
          <input class="govuk-input govuk-input--width-10 govuk-!-margin-top-1" id="width-10" name="remand-prisoner" type="text">
          <button class="govuk-button" data-module="govuk-button" name="remand" value="true">
            Start
          </button>
          <div>
            <a class="govuk-link" href="/remand/bulk">Or calculate in bulk</a>
          </div>
        </div>

        <h2 class="govuk-heading-m">Custodial warrant POC</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="warrant-prisoner">Enter an offender number</label>
          <input class="govuk-input govuk-input--width-10 govuk-!-margin-top-1" id="width-10" name="warrant-prisoner" type="text">
          <button class="govuk-button" data-module="govuk-button" name="warrant" value="true">
            Start
          </button>
        </div>

        <h2 class="govuk-heading-m">Adjustments</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="adjustments-prisoner">Enter an offender number</label>
          <input class="govuk-input govuk-input--width-10 govuk-!-margin-top-1" id="width-10" name="adjustments-prisoner" type="text">
          <button class="govuk-button" data-module="govuk-button" name="adjustments" value="true">
            Start
          </button>
        </div>

      </form>
    </div>

  </div>
{% endblock %}